$fonts:  Helvetica, sans-serif;
$brand-color: rgba(230,63,137,1);

.has-border {
  border: 1px solid #aaa;
}

.welcome {
  @extend .has-border;
  color: $brand-color;
  padding: 20px;

  &:hover {
    background: #aaa;
  }
}
